name: dart_snippets
description: A sample command-line application.
version: 1.0.0
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^6.0.0
  app_group_directory: ^2.0.0
  path_provider: ^2.0.0
  flutter_breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-flutter
      ref: v0.11.3-dev7
  rxdart: ^0.28.0

dependency_overrides:
  # Comment out to use published packages
  #breez_liquid:
  #  path: ./packages/breez-sdk-liquid-dart
  #flutter_breez_liquid:
  #  path: ./packages/breez-sdk-liquid-flutter
  # Enable overrides below to work with Liquid SDK packages locally
  #breez_liquid:
  #  path: ../../../breez-sdk-liquid/packages/dart
  #flutter_breez_liquid:
  #  path: ../../../breez-sdk-liquid/packages/flutter

dev_dependencies:
  lints: ^3.0.0
  test: ^1.24.9
