name: dart_snippets
description: A sample command-line application.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-dart
      tag: 0.3.1-dev4
  flutter_breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-flutter
      tag: 0.3.1-dev4
  rxdart: ^0.28.0  

dependency_overrides:
  # Enable overrides below to work with Liquid SDK packages locally
  #breez_liquid:
  #  path: ../../../breez-sdk-liquid/packages/dart
  #flutter_breez_liquid:
  #  path: ../../../breez-sdk-liquid/packages/flutter

dev_dependencies:
  lints: ^3.0.0
  test: ^1.24.9
