.tagged-title {
    gap: 10px;
    margin: 1em 0;
    display: flex;
    align-items: center;
    text-align: middle;
}

.tagged-title *:not(.tag) {
    margin: 0;
}

#requires-api-key {
    color: #fff;
    cursor: pointer;
    font-size: 0.7em;
    padding: 0.4em 0.5em;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: var(--sidebar-bg);
}

#requires-api-key:visited {
    color: #fff;
}

#requires-api-key:hover {
    opacity: 0.8;
    text-decoration: none;
}
