name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "main" and "pre-release" branches
  push:
    branches: [ main, pre-release ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      sdk-ref:
        description: 'sdk commit/tag/branch reference. Defaults to 0.7.2'
        required: false
        type: string
        default: 0.7.2

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: setup
    runs-on: ubuntu-latest
    outputs:
      # Used only for Rust snippets
      sdk-ref: ${{ inputs.sdk-ref || '0.7.2' }}
      # Used for RN and Flutter snippets
      package-version: '0.7.2'
    steps:
      - run: echo "set pre-setup output variables"

  build-packages:
    needs: setup
    name: build packages
    uses: breez/breez-sdk-liquid/.github/workflows/publish-all-platforms.yml@main
    with:
      repository: breez/breez-sdk-liquid
      ref: ${{ needs.setup.outputs.sdk-ref }}
      package-version: ${{ needs.setup.outputs.package-version }}
      packages-to-publish: '["csharp", "golang", "flutter", "react-native", "python", "swift", "wasm"]'
      use-dummy-binaries: true

  check-rust:
    needs: setup
    name: Check rust snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Set up Rust environment and run checks
      - name: Install rust
        run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "23.4"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: snippets/rust -> snippets/rust/target

      - name: temporarily get sdk
        uses: actions/checkout@v4
        with:
          repository: breez/breez-sdk-liquid
          ref: ${{ needs.setup.outputs.sdk-ref }}
          path: breez-sdk-liquid

      - id: rev-parse
        name: get proper rev
        working-directory: breez-sdk-liquid
        run: |
          rev=$(git rev-parse HEAD)
          echo "$rev"
          echo "rev=$rev" >> $GITHUB_OUTPUT   

      - name: set sdk version
        working-directory: snippets/rust
        run: |
          cargo add --git https://github.com/breez/breez-sdk-liquid.git breez-sdk-liquid --rev "${{ steps.rev-parse.outputs.rev }}"

      - name: clippy
        working-directory: snippets/rust
        run: |
          # Explicitly allow clippy::dead_code lint because the functions aren't called in the docs snippets
          # Explicitly allow clippy::unused_variables because snippets might have to demonstrate how to get certain variables without using them afterward
          cargo clippy -- --allow dead_code --allow unused_variables --deny warnings

  check-csharp:
    needs: 
      - setup
      - build-packages
    name: Check C# snippets
    runs-on: ubuntu-latest
    env:
      DOTNET_INSTALL_DIR: "${{ github.workspace }}/dotnet"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Mono
        run: sudo apt-get update && sudo apt-get install -y mono-complete

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'

      - name: Setup nuget
        uses: nuget/setup-nuget@v2

      - name: Download archived package
        uses: actions/download-artifact@v4
        with:
          name: Breez.Sdk.Liquid.${{ needs.setup.outputs.package-version }}.nupkg
          path: .

      - name: Create nuget package source
        working-directory: snippets/csharp
        run: |
          mkdir packages
          nuget add ../../Breez.Sdk.Liquid.${{ needs.setup.outputs.package-version }}.nupkg -Source ./packages
      
      - name: Add nuget dependency
        working-directory: snippets/csharp
        run: |
          dotnet add package Breez.Sdk.Liquid -s ./packages --prerelease

      - name: Build the csharp project
        working-directory: snippets/csharp
        run: dotnet build

  check-dart:
    needs: 
      - setup
      - build-packages
    name: Check dart snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Set up the flutter environment and run checks
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - uses: actions/download-artifact@v4
        with:
          name: breez-sdk-liquid-dart-${{ needs.setup.outputs.package-version }}
          path: snippets/dart_snippets/packages/breez-sdk-liquid-dart

      - uses: actions/download-artifact@v4
        with:
          name: breez-sdk-liquid-flutter-${{ needs.setup.outputs.package-version }}
          path: snippets/dart_snippets/packages/breez-sdk-liquid-flutter

      - name: pub-get
        working-directory: snippets/dart_snippets
        run: flutter pub get

      - name: dart-analyze
        working-directory: snippets/dart_snippets
        run: dart analyze --fatal-infos

  check-golang:
    needs:
      - setup
      - build-packages
    name: Check Go snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Download archived package
        uses: actions/download-artifact@v4
        with:
          name: breez-sdk-liquid-go-${{ needs.setup.outputs.package-version }}
          path: snippets/go/packages/breez-sdk-liquid-go

      - name: Format the Go snippets
        working-directory: snippets/go
        run: go fmt

      - name: Test formatted correctly
        working-directory: snippets/go
        run: |
          status=$(git status --porcelain)
          if [[ -n "$status" ]]; then
            echo "Git status has changes"
            echo "$status"
            git diff
            exit 1
          else
            echo "No changes in git status"
          fi

      - name: Build the Go snippets
        working-directory: snippets/go
        run: |
          go get
          go build .

  check-python:
    needs:
      - build-packages
    name: Check Python snippets
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
  
      - name: Download archived package
        uses: actions/download-artifact@v4
        with:
          name: python-wheel-3.8-manylinux_2_31_x86_64
          path: snippets/python/packages
    
      - name: Install dependencies
        working-directory: snippets/python
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          whlfile=$(ls packages | grep .whl)
          pip install "packages/$whlfile"

      - name: Check python formatting
        working-directory: snippets/python/src
        run: ruff check  --ignore F841 --ignore F401 --add-noqa . 

      - name: Check python syntax
        working-directory: snippets/python
        run: python3 -m compileall src

  check-react-native:
    needs: 
      - setup
      - build-packages
    name: Check react native snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Download archived package
        uses: actions/download-artifact@v4
        with:
          name: react-native-${{ needs.setup.outputs.package-version }}
          path: snippets/react-native/packages

      - name: Install dependencies
        working-directory: snippets/react-native
        run: yarn

      - name: Check syntax
        working-directory: snippets/react-native
        run: tsc

      - name: Check formatting
        working-directory: snippets/react-native 
        run: yarn run lint

  check-wasm:
    needs: 
      - setup
      - build-packages
    name: Check wasm snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Download archived package
        uses: actions/download-artifact@v4
        with:
          name: wasm-${{ needs.setup.outputs.package-version }}
          path: snippets/wasm/packages

      - name: Install dependencies
        working-directory: snippets/wasm
        run: yarn

      - name: Check syntax
        working-directory: snippets/wasm
        run: tsc

      - name: Check formatting
        working-directory: snippets/wasm 
        run: yarn run lint

  check-swift:
    needs: setup
    name: Check Swift snippets
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "latest-stable"

      - name: Build
        working-directory: snippets/swift/BreezSDKExamples
        run: |
              swift build

  check-kotlin:
    needs: setup
    name: Check kotlin MPP snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: 17

      - name: Compile Kotlin
        working-directory: snippets/kotlin_mpp_lib
        run: |
          ./gradlew build

      
  build:
    name: Build mdbook
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install rust
        run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            . -> target
            snippets-processor -> snippets-processor/target

      - name: Install dependencies
        run: |
          cargo install mdbook --vers "^0.4" --locked
          cargo install --path ./snippets-processor
          cargo install mdbook-variables --vers "^0.2" --locked
      
      - name: Build mdbook
        run: mdbook build

      - name: Archive book
        uses: actions/upload-artifact@v4
        with:
          name: book
          path: book

      - name: Push book to main-generated branch
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }} 
        run: |
          git config --global user.name "Generator"
          git config --global user.email "no-reply@breez.technology"
          git add -f book
          git commit -m "Generate documentation"
          git push origin --force main:main-generated

      - name: Push book to pre-release-generated branch
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/pre-release' }}
        run: |
          git config --global user.name "Generator"
          git config --global user.email "no-reply@breez.technology"
          git add -f book
          git commit -m "Generate documentation"
          git push origin --force pre-release:pre-release-generated
